@mixin btn1 {
  color: #fff;
  border: none;
  background-color: #1a7cff;
  height: 46px;
  padding: 12px 18px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

@mixin btn2 {
  color: #1a7cff;
  border: 1px solid #1a7cff;
  height: 46px;
  padding: 12px 18px;
  text-align: center;
  border-radius: 8px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
}
