.card-collection {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .inner {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    .mentor-card {
      margin-bottom: 30px;
      margin-right: 26px;
    }
    .mentor-card.last {
      margin-right: 0px;
    }
  }
}
