.filterArea {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .inner {
    position: relative;
    display: flex;
    width: 1080px;
    .dropdown-btn {
      display: inline-block;
      position: relative;
      border: 1px solid #b3b3b3;
      padding: 10px 15px;
      width: 160px;
      cursor: pointer;
      border-radius: 7px;
      margin-right: 15px;
      img {
        position: absolute;
        right: 10px;
        top: 15px;
      }
      .selected-title {
        color: #1a7cff;
      }
    }
    .dropdown-btn.job {
      width: 160px;
    }
    .dropdown-btn.clicked {
      border: 1px solid black;
    }
    .dropdown {
      position: absolute;
      background-color: #fff;
      width: 300px;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 10px #b3b3b3, 0 4px 4px #b3b3b3;
      .list {
        padding: 20px;
        .check-list {
          height: 35px;
          display: flex;
          align-items: center;
          .checkbox {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #fff;
            border: 1.8px solid #b3b3b3;
            border-radius: 2px;
            margin-right: 10px;
          }
          .checkbox.checked {
            border: none;
            background-image: url('../../public/images/checked.svg');
          }
        }
      }
      .btns {
        border-top: 1px solid #eeeff1;
        padding: 12px;
        display: flex;
        justify-content: flex-end;
        .cancel-btn {
          cursor: pointer;
          width: 90px;
          height: 43px;
          background-color: #f4f4f5;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          margin-right: 10px;
        }
        .complete-btn {
          cursor: pointer;
          width: 108px;
          height: 43px;
          background-color: #1a7cff;
          color: #fff;
          font-size: 16px;
          border-radius: 5px;
          border: none;
        }
      }
    }
    .dropdown.job {
      width: 680px;
      .list.job {
        display: flex;
        padding: 0px;
        .job-folder {
          padding: 10px 0;
          border-right: 1px solid #eeeff1;
          .check-list {
            padding: 10px 60px 10px 20px;
            cursor: pointer;
          }
          .check-list:hover {
            background-color: #f4f4f5;
          }
        }
        .none-job {
          width: 461px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .job-specific.list {
          display: flex;
          flex-direction: column;
          height: 475px;
          flex-wrap: wrap;
          padding: 20px;
          .check-list {
            width: 250px;
            margin-bottom: 5px;
            margin-right: 20px;
            padding: 20px 60px 20px 10px;
          }
        }
      }
    }
    .sorting-rule {
      position: absolute;
      right: 0px;
      .dropdown-btn.sort {
        width: 110px;
      }
      .dropdown.sort {
        width: 110px;
        .list.sort {
          width: 110px;
          padding: 15px;
          cursor: pointer;
        }
        .list.sort:hover {
          background-color: #f4f4f5;
        }
      }
    }
  }
}
