.page {
  display: flex;
  justify-content: center;
  background-color: #f7f8fa;
  .inner {
    display: flex;
    width: 1080px;
    margin-top: 124px;
    background-color: #f7f8fa;
    .information {
      width: 780px;
      margin-right: 30px;
      .basic-info {
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
      }
      .mentoring-info {
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
      }
      .mentoring-method {
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 110px;
      }
    }
    .status-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 270px;
      height: 200px;
      background-color: #fff;
      padding: 24px 20px;
      border-radius: 20px;
      font-weight: 600;
      div {
        height: 48px;
        line-height: 32px;
        padding: 8px 16px;
        border-radius: 12px;
      }
      div.selected {
        background-color: #f4f4f5;
      }
    }
  }
  .save-register {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: #fff;
    width: 100vw;
    height: 70px;
    .save {
      color: #1a7cff;
      border: 1px solid #1a7cff;
      width: 96px;
      height: 46px;
      padding: 12px 18px;
      text-align: center;
      border-radius: 8px;
      margin-left: 1220px;
      line-height: 20px;
      font-weight: 600;
      cursor: pointer;
    }
    .register {
      color: #fff;
      border: none;
      background-color: #1a7cff;
      width: 127px;
      height: 46px;
      padding: 12px 18px;
      text-align: center;
      border-radius: 8px;
      margin-left: 16px;
      font-weight: 600;
      line-height: 20px;
      cursor: pointer;
    }
  }
}
