.sub-header-area {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56px;
  background-color: #aaa;
  .sub-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    .menu-container {
      display: flex;
      justify-content: space-between;
      width: 400px;
      .menu {
        font-size: 16px;
        font-weight: 500;
      }
      .menu.selected {
        font-weight: 700;
      }
      .menu:hover {
        font-weight: 700;
        cursor: pointer;
      }
    }
    .search-area {
      display: flex;
      background-color: #f4f4f5;
      width: 278px;
      height: 40px;
      border-radius: 10px;
      img {
        width: 24px;
        margin: 8px;
      }
      input {
        border: none;
        background-color: transparent;
        outline: none;
        color: #535353;
        font-weight: 500;
        width: 100%;
        padding: 5px;
      }
    }
  }
}
